<a routerLink="/manage-list" *ngIf="userDescription == 'Manager'" class="manage-list">Back to Manage list</a>

<div>
 
  <ul *ngFor="let car of cars" class="w3-ul w3-card-4 w3-hoverable w3-center">
         
      <li class="w3-bar">
          <img class="w3-bar-item w3-circle w3-hide-small" id="tumbImage" src="/assets/Carsimages/{{car.typeid}}.jpg" width="100%" routerLink="/car-details/{{car.id}}">
            <h3 class="w3-bar-item">
            {{car.manufacture}} {{car.model}} {{car.year}}</h3>
          
        </li>

    </ul>

</div>