<nav class="navbar navbar-expand-sm">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="home">
      <img src="/assets/Logo/logo.png" width="70px" height="50px">
    </a>
  
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="search">Car Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cars">All Cars</a>
      </li>
      <li class="nav-item" *ngIf="description && description == 'Employee'">
          <a class="nav-link" routerLink="returning-car">Return Car</a>
        </li>
        <li class="nav-item" *ngIf="!description || (description && description == 'Client')">
            <a class="nav-link" routerLink="contact">Contact Us</a>
          </li>
  
     
         </ul>

         <div class="login-container" *ngIf="!isLoggedIn">
            <form>
              <input #userNameinfo="ngModel" type="text" name="username" [(ngModel)]="credentials.username" required placeholder="User Name">         
              <input #passwordInfo="ngModel" type="password" name="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,20}$" [(ngModel)]="credentials.password" required placeholder="Password">
              <button id="LoginButton" type="submit" (click)="((logIn()))">Log In</button>
            </form>
          </div>
          <div class="login-container" *ngIf="!isLoggedIn">
             <button class="navbar-brand" id="SignupButton" routerLink="signup">Sign Up</button>
        </div>

        <div class="login-container" *ngIf="isLoggedIn">
         <p id="username"> {{user.username}} </p>
                 </div>
       <div class="login-container" *ngIf="isLoggedIn">
          <button class="navbar-brand" id="LogOutButton" (click)="logOut()">Log Out</button>
     </div>
            
  </nav>

 