<label>Pickup date: 
  <input type="date" *ngIf="CarForRent" [(ngModel)]="carDates.start">
</label>

<label>Return date: 
  <input type="date" *ngIf="CarForRent" [(ngModel)]="carDates.returndate">
</label>
<br>
<button type="button" (click)="calculateRentalTotalCost()">Calculate Car Rental costs</button>

<h3 *ngIf="carRentalCost">Car total cost: {{carRentalCost}}</h3>
<h3 *ngIf="CarRentalDelayCost">Car one day Delay Cost: {{CarRentalDelayCost }}</h3>

<br>

<button type="button" (click)="RentCar()">Book this Car!</button>



<h2> Car Details</h2>
<div *ngIf="CarForRent">
  <img src="/assets/Carsimages/{{CarForRent.id}}.jpg" width="50px" height="50px">
      <div id="carDetails">
          <h4>mileage: {{CarForRent.mileage}}</h4>
          <h4>manufacture: {{CarForRent.manufacture}}</h4>
          <h4>model: {{CarForRent.model}}</h4>
          <h4>dailycost: {{CarForRent.dailycost}}$</h4>
          <h4>year: {{CarForRent.year}}</h4>
          <h4>transmission: {{CarForRent.transmission}}</h4>
          <h4>Address: {{CarForRent.address}} </h4>
      </div>
</div>