<a routerLink="/cars" class="cars">
    Back to Cars List
  </a>
  <a routerLink="/search-result" class="search-result">
    Back to search result
  </a>
<br>
<br>
<br>
 


<div class="card" *ngIf="car">
    <img src="/assets/Carsimages/{{car.typeid}}.jpg" width="100%">
    <br>
    <h1>{{car.manufacture}} {{car.model}} {{car.year}}</h1>
    <p class="price">Daily Cost: {{car.dailycost}}$</p>
    <p>Pick Up Location: {{car.address}}</p>
    <p><button *ngIf="!userDescription == 'Manager'" type="button" (click)="RentCar()">Rent This car</button></p>
    <p><button *ngIf="userDescription == 'Manager'" type="button" (click)="DeleteCar()">Delete Car</button></p>
    <p><button *ngIf="userDescription == 'Manager'" type="button" (click)="UpdateCar()">Update Car</button></p>


  </div>

