label, input, select, option ,button {
    width: 400px;
    font-size: large;
    margin: 2px;

}
input, select, option {
    color: orange;
}

label {
    color: rgb(21, 132, 235);
    font-weight: bold;

}
a{
    color: black;
}
button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(228, 139, 24);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  button:hover {background-color: #ecba15}
  
  button:active {
    background-color: #f56613;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
